
.env


task-manager-backend/HELP.md
task-manager-backend/target/
task-manager-backend/.mvn/wrapper/maven-wrapper.jar

!task-manager-backend/**/src/main/**/target/
!task-manager-backend/**/src/test/**/target/

task-manager-backend/.apt_generated
task-manager-backend/.classpath
task-manager-backend/.factorypath
task-manager-backend/.project
task-manager-backend/.settings
task-manager-backend/.springBeans
task-manager-backend/.sts4-cache

task-manager-backend/.idea
task-manager-backend/*.iws
task-manager-backend/*.iml
task-manager-backend/*.ipr

task-manager-backend/nbproject/private/
task-manager-backend/nbbuild/
task-manager-backend/dist/
task-manager-backend/nbdist/
task-manager-backend/.nb-gradle/
task-manager-backend/build/
!task-manager-backend/**/src/main/**/build/
!task-manager-backend/**/src/test/**/build/

task-manager-backend/.vscode/

# FRONTEND (For when you create it)
frontend/node_modules/
frontend/dist/
frontend/.angular/