<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg border-0">
        <div class="card-header bg-primary text-white text-center py-3">
          <h3><i class="bi bi-person-plus-fill"></i> Join the Community</h3>
        </div>
        <div class="card-body p-4">
          <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            
            <div class="mb-3">
              <label class="form-label fw-bold">Username</label>
              <input type="text" formControlName="username" class="form-control" 
                     [class.is-invalid]="registerForm.get('username')?.touched && registerForm.get('username')?.invalid">
            </div>

            <div class="mb-3">
              <label class="form-label fw-bold">Password</label>
              <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" 
                       formControlName="password" 
                       class="form-control"
                       [class.is-invalid]="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
              </div>
              <div class="text-danger small mt-1" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
              Must be 8+ chars with 1 Uppercase, 1 Number, and 1 Symbol (!&#64;#$).              </div>
            </div>

            <div class="mb-4">
              <label class="form-label fw-bold">Confirm Password</label>
              <input type="password" formControlName="confirmPassword" class="form-control"
                     [class.is-invalid]="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
              <div class="text-danger small mt-1" *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
                <i class="bi bi-exclamation-circle"></i> Passwords do not match.
              </div>
            </div>

            <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary w-100 py-2">
              Create My Account
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>